blueflood-ingest.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:rax="http://docs.rackspace.com/api"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources base="https://global.metrics-ingest.api.rackspacecloud.com/">
        <resource path="v1.0" id="v1version" rax:roles="cloudmetrics:admin">
            <method name="GET" rax:roles="cloudmetrics:observer">
            </method>
            <resource path="{tenantId}" rax:roles="cloudmetrics:creator" id="v1tenantid">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>A valid authentication token</doc>
                </param>
                <param name="tenantId" type="xsd:string" required="true" style="template">
                    <doc>A subscriber to the cloudmetrics service</doc>
                </param>
                <resource path="limits" id="v1limits">
                    <method name="GET" rax:roles="cloudmetrics:observer"> </method>
                </resource>
                <resource path="experimental" id="experimental">
                    <resource path="metrics" id="experimental_metrics">
                        <method name="POST">
                        </method>
                    </resource>
                </resource>
            </resource>
            <resource path="multitenant" rax:roles="identity:user-admin cloudmetrics:service-admin" id="v1multitenant">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>A valid authentication token</doc>
                </param>
                <resource path="experimental" id="multitenant_experimental">
                    <resource path="metrics" id="multitenant_experimental_metrics">
                        <method name="POST">
                        </method>
                    </resource>
                </resource>
            </resource>
        </resource>
        <resource path="v2.0" id="version" rax:roles="cloudmetrics:admin">
            <method name="GET" rax:roles="cloudmetrics:observer">
            </method>
            <resource path="{tenantId}" rax:roles="cloudmetrics:creator" id="tenantid">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>A valid authentication token</doc>
                </param>
                <param name="tenantId" type="xsd:string" required="true" style="template">
                    <doc>A subscriber to the cloudmetrics service</doc>
                </param>
                <resource path="limits" id="limits">
                    <method name="GET" rax:roles="cloudmetrics:observer"> </method>
                </resource>
                <resource path="ingest" id="ingest">
                    <method name="POST">
                    </method>
                    <resource path="multi" rax:roles="cloudmetrics:service-admin" id="multitenant">
                        <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                            <doc>A valid authentication token</doc>
                        </param>
                        <method name="POST">
                        </method>
                    </resource>
                    <resource path="aggregated" id="aggregated">
                        <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                            <doc>A valid authentication token</doc>
                        </param>
                        <method name="POST">
                        </method>
                        <resource path="multi" id="multitenant-aggregated">
                            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                                <doc>A valid authentication token</doc>
                            </param>
                            <method name="POST">
                            </method>
                        </resource>
                    </resource>
                </resource>
                <resource path="events" id="events" rax:roles="cloudmetrics:admin">
                    <method name="POST">
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>
